#educacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 30px;
}
#relevantcourses{
  display: flex;
  flex-direction: row;
  gap: 20px;
}